@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');
@import "reset.css";

body {
    font-family: 'Ubuntu', sans-serif;
}

body {
    
    width: 350px;
    height: 800px;
    background-color:rgb(255, 255, 255);
}

.menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    
    background-color: rgba(247, 177, 189, 0.911);
}
.menu__column {
    margin-top: 20px;
}

.menu :first-child {
    margin-left: 5px;
   
}
.menu :nth-child(2) {
    display: flex;
   
    justify-items: center;
}
.menu :last-child {
   margin-right: 5px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0 rgb(128, 126, 126);
    
}

.search__form__column {
    opacity: 30%;
    margin: 0 20px;
}

header {
    height: 300px;
    margin-top: -30px;
    background-color: #ffffff;
}
.info {
    margin-left: 15px;
}

h2 {
   padding-top: 50px; 
   font-size: 20px;
   font-weight: 600;
}

.select {
    display: flex;
    margin-top: 20px;
   
}
.select__column {
    margin-right: 30px;
}

.select__column >img {
    margin: 0;
    height: 150px;
    width: 100px;
    border-radius: 10px;
}

.rating {
    color:#ffce33;
    margin-bottom: 15px;
}
.writer {
    opacity: 30%;
    margin-bottom: 10px;
}
.title {
    margin-bottom: 10px;
}

.select__column__row__first {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;

}
.cate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    
    width: 60px;
    height: 25px;
    background-color: rgb(247, 241, 232);
    margin-right: 10px;
    border-radius: 5px;

}

.select__column__row__second {
    display: flex;
    justify-content: space-between;
}
.select__column__row__second .bookmark{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #ffce33;
    border-radius: 15px;
}
.booknow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    background-color:black;
    border-radius: 5px;
    color: white;
    font-size: 8px;
}

.info__top {
    margin-left: 15px;
    margin-top: -60px;
}

.top {
    margin-top: 20px;
}
.top__recommend {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

}
.top__recommend__book {
    height: 100px;
    width: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.adventure {
    padding-right: 10px;
}
.info__popular {
    margin-left: 15px;
    margin-top: -20px;
}
.popular__column  img {
    height: 130px;
    width: 100px;
    border-radius: 20px;
}

.popular {
    margin-top: 20px;
    display: flex;
}
.popular__column__row{
    margin-left: 20px;
}

.explain {
    margin: 0;
    opacity: 20%;
    font-size: 12px;
}

